@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "OpenSans", "Tahoma", "Arial", sans-serif;
  color: #000000;
  margin: 0px;
  min-width: 320px;
  padding: 0;
}
main {
  padding: 0px;
  margin: 0px;
}
p {
  padding: 0px;
  margin: 0px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  background-color: #ffffff;
  min-height: 80px;
  border-bottom: 1px solid #ececec;
}
.page-header__container {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container-block {
  width: 320px;
  margin: 0 auto;
}
.container-block--form-padding {
  padding-bottom: 27px;
}
.container-block--position-relative {
  position: relative;
}
.logo {
  height: 80px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto;
}
.logo__img {
  padding: 0px;
}
.logo a:hover {
  opacity: 0.6;
}
.logo a:active {
  opacity: 0.3;
}
.main-nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.main-nav--closed .main-nav__toggle {
  outline: 0;
  content: "";
  position: absolute;
  top: -47px;
  right: 30px;
  width: 21px;
  height: 15px;
  background: url("../img/icons/icon-menu-open.svg") no-repeat;
  border: none;
  font-size: 0;
  cursor: pointer;
}
.main-nav--opened .main-nav__toggle {
  outline: 0;
  content: "";
  position: absolute;
  top: -50px;
  right: 30px;
  width: 30px;
  height: 30px;
  background: url("../img/icons/icon-menu-close.svg") no-repeat;
  border: none;
  font-size: 0;
  cursor: pointer;
}
.main‐nav__list1,
.main‐nav__list2 {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main‐nav__item {
  height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #f1f1f1;
}
.main‐nav__item:first-child {
  border-top: 1px solid #ececec;
}
.main‐nav__link {
  color: #000000;
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  display: block;
  margin: 0px;
  padding: 25px 30px 25px 75px;
  box-sizing: border-box;
  position: relative;
}
.main‐nav__link--search:before,
.main‐nav__link--cart:before {
  position: absolute;
  width: 22px;
  height: 22px;
  content: "";
  background: url("../img/icons/icon-search.svg") no-repeat 50% 50%;
  top: 27px;
  left: 29px;
}
.main‐nav__link--cart:before {
  background: url("../img/icons/icon-cart.svg") no-repeat 50% 50%;
}
.main‐nav__link:hover span {
  opacity: 0.6;
}
.main‐nav__link--search:hover::before {
  background: url("../img/icons/icon-search-green.svg") no-repeat;
  top: 29px;
  left: 31px;
  width: 22px;
  height: 22px;
  opacity: 1;
}
.main‐nav__link--cart:hover::before {
  background: url("../img/icons/icon-cart-green.svg") no-repeat;
  top: 29px;
  left: 30px;
  width: 22px;
  height: 22px;
  opacity: 1;
}
.main‐nav__link:active {
  opacity: 0.3;
}
.main‐nav__item--new,
.main‐nav__item--sale,
.main‐nav__item--promo-text {
  display: none;
}
.page-main {
  margin: 0px;
}
.page-main__title-block {
  height: 177px;
  box-sizing: border-box;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.page-main__title-block-bg {
  background-color: #f1f1f1;
}
.page-main__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  padding: 0px;
  margin: 0 auto;
  width: 260px;
}
.top-block--wrapper-bg {
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat 50% -10%;
}
.top-block__wrapper {
  box-sizing: border-box;
  height: 284px;
  text-align: center;
}
.top-block__title {
  padding: 0px;
  margin: 0 auto;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 70px;
  width: 250px;
}
.top-block__list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.top-block__item {
  font-weight: 700;
  height: 103px;
}
.top-block__item--bg1 {
  background: #63d1bb;
}
.top-block__item--bg2 {
  background: #56c3b2;
}
.top-block__item:active .top-block__item-interior,
.top-block__item:active .top-block__item-toys {
  opacity: 0.6;
}
.top-block__item-interior,
.top-block__item-toys {
  display: block;
  position: relative;
  text-align: left;
  box-sizing: border-box;
  margin: 0px;
  padding: 22px 30px;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}
.top-block__item-interior::after,
.top-block__item-toys::after {
  display: block;
  position: absolute;
  right: 30px;
  top: 20px;
  content: "";
  text-align: center;
  box-sizing: border-box;
  margin: 0px;
  width: 50px;
  height: 63px;
  background: url("../img/icons/icon-interior.svg") no-repeat 50% 50%;
  opacity: 0.2;
}
.top-block__item-interior span,
.top-block__item-toys span {
  width: 130px;
  display: block;
}
.top-block__item-toys:after {
  background: url("../img/icons/icon-toy.svg") no-repeat 50% 50%;
}
.product-item {
  color: #444444;
  padding: 35px 30px;
  padding-top: 28px;
}
.product-item__title {
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
.product-item__titles {
  padding-bottom: 25px;
}
.product-item__descr-title {
  padding: 0px;
  margin: 0px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}
.product-item__descr {
  padding: 0px;
  margin: 0px;
  padding-bottom: 19px;
  font-size: 15px;
  line-height: 24px;
}
.product-item-spec {
  padding: 0px;
}
.product-item-spec:after::after {
  content: "";
  display: table;
  clear: both;
}
.product-item__block-descr {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.product-item-spec__name {
  padding: 10px 0px 6px;
  display: inline-block;
  vertical-align: middle;
  width: 98px;
  float: left;
  border-bottom: 1px solid #ececec;
}
.product-item-spec__value {
  padding: 10px 0px 6px;
  display: inline-block;
  vertical-align: middle;
  width: 162px;
  float: left;
  border-bottom: 1px solid #ececec;
}
.product-item__img {
  padding-top: 28px;
  padding-bottom: 23px;
  text-align: center;
}
.product-item__price {
  display: block;
  text-align: center;
  padding: 0px;
  padding-bottom: 28px;
  font-weight: 700;
}
.product-item__order {
  color: #444444;
  font-weight: 700;
}
.block-about {
  padding: 0px 30px;
  padding-top: 30px;
  color: #000000;
  background: url("../img/icons/bg-zigzag-line.svg") repeat-x;
  background-size: 100%;
}
.block-about__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin: 0px auto;
}
.block-about__text {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  padding-top: 16px;
}
.block-about__list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.block-about__item {
  width: 100%;
}
.block-about__img-wrap {
  color: #63d1bb;
  padding-top: 30px;
  width: 48px;
  height: 38px;
  text-align: center;
}
.reviews {
  width: 320px;
  margin: 0 auto;
  padding: 0px 30px;
  padding-bottom: 45px;
}
.reviews__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-top: 55px;
}
.reviews__list {
  padding-top: 25px;
}
.reviews__title {
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}
.reviews__item {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  padding: 0px;
  margin: 0px;
}
.reviews__item-text {
  padding-bottom: 22px;
}
.reviews__auhor‐name {
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  padding-bottom: 15px;
  color: black;
  font-weight: 700;
}
.reviews__auhor‐email {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}
.reviews__slider-btn {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.reviews__prev,
.reviews__next {
  padding: 0px;
  margin: 0px;
  margin-top: 28px;
  margin-bottom: 40px;
  width: 50%;
  height: 51px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  background: url("../img/icons/icon-left-arrow.svg") no-repeat 50% 50%;
}
.reviews__prev:hover,
.reviews__next:hover {
  opacity: 0.6;
}
.reviews__prev:active,
.reviews__next:active {
  opacity: 0.3;
}
.reviews__next {
  border-left: none;
  background: url("../img/icons/icon-right-arrow.svg") no-repeat 50% 50%;
}
.reviews__write.btn {
  height: 50px;
}
.contacts {
  padding-top: 43px;
  padding-bottom: 40px;
  background: url("../img/icons/bg-zigzag-line.svg") repeat-x;
  background-size: 100%;
  width: 320px;
  margin: 0 auto;
}
.contacts__wrap {
  text-align: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.contacts__list {
  padding: 0px;
  margin: 0px;
  padding-top: 25px;
  list-style: none;
}
.contacts__item {
  padding-bottom: 60px;
}
.contacts__item:after::after {
  content: "";
  display: table;
  clear: both;
}
.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}
.contacts__name {
  float: left;
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  font-size: 15px;
  line-height: 30px;
}
.contacts__value {
  font-size: 15px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  width: 55%;
  float: left;
  text-align: left;
  text-decoration: none;
  color: black;
  padding-left: 10px;
}
.contacts__value--underline {
  border-bottom: 1px solid #63d1bb;
}
.contacts__container-block {
  width: 260px;
  margin: 0 auto;
  padding: 0px 30px;
}
.contacts__container-btn {
  padding: 0px 30px;
  width: 260px;
  margin: 0 auto;
}
.contacts__img-map {
  text-align: left;
  padding-top: 35px;
  padding-bottom: 38px;
}
.page-footer {
  padding: 0px;
  margin: 0px;
  background-color: #f1f1f1;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
}
.page-footer__wrapper {
  padding: 0 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.page‐footer__social {
  padding: 28px 0px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.page‐footer__copyright‐text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  font-weight: bold;
  margin: 0px;
  padding: 20px 0px;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.page‐footer__copyright‐text:link,
.page‐footer__copyright‐text:visited,
.page‐footer__copyright‐text:hover {
  color: #000000;
}
.page‐footer__copyright‐text:active {
  opacity: 0.3;
}
.page‐footer__copyright‐text span {
  display: block;
}
.page‐footer__copyright‐text img {
  padding-left: 30px;
}
.page‐footer__logo {
  display: none;
}
.page‐footer__logo-link:hover {
  opacity: 0.6;
}
.page‐footer__logo-link:active {
  opacity: 0.3;
}
.product-list {
  padding: 0px 30px;
}
.product-list__item-img {
  width: 100%;
  height: auto;
}
.product-list__item-title {
  padding: 0px;
  margin: 0px;
  padding-bottom: 8px;
  padding-top: 20px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
.product-list__item-descr {
  display: block;
  font-size: 13px;
  line-height: 30px;
  padding-bottom: 18px;
}
.product-list__item-descr-block {
  padding: 0px 28px;
}
.product-list__item-descr-block:hover {
  box-shadow: 0px 6px 11px 1px #ececec;
}
.product-list__item-descr-block:active {
  box-shadow: 0px 3px 7px 1px #ececec;
}
.product-list__item-price {
  border-top: 1px solid #ececec;
  padding: 20px 0px 26px 4px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
.product-list__item {
  margin-top: 31px;
  border: 1px solid #ececec;
}
.product-list__item::after {
  content: "";
  display: table;
  clear: both;
}
.product-list__item-link {
  text-decoration: none;
  color: black;
}
.product-list__item-link:hover {
  opacity: 0.6;
}
.product-list__item-link:active {
  opacity: 0.3;
}
.product-list__order-btn {
  background: url("../img/icons/icon-cart.svg") no-repeat 0% 0%;
  float: right;
  width: 20px;
  height: 20px;
  content: "";
  border: none;
  cursor: pointer;
}
.product-list__order-btn:hover {
  background: url("../img/icons/icon-cart-green.svg") no-repeat;
  opacity: 1;
}
.product-list__order-btn:active {
  background: url("../img/icons/icon-cart-green.svg") no-repeat;
  opacity: 0.6;
  border: none;
}
.video-block {
  margin: 33px 30px 60px;
  border: 1px solid #ececec;
}
.video-block:hover {
  box-shadow: 0px 6px 11px 1px #ececec;
}
.video-block:active {
  box-shadow: 0px 3px 7px 1px #ececec;
}
.video-block__title {
  position: relative;
  margin: 0px;
  padding: 0px;
  padding-left: 90px;
  padding-top: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
.video-block__title:before {
  position: absolute;
  width: 32px;
  height: 30px;
  background: url("../img/icons/icon-video.svg") no-repeat 0% 0%;
  content: "";
  left: 34px;
  top: 30px;
}
.video-block__content {
  padding-bottom: 25px;
}
.video-block__container {
  padding: 0px 34px;
  padding-bottom: 30px;
}
.video-block__descr {
  padding: 25px 35px;
  font-size: 13px;
  line-height: 24px;
}
.video-block__order.btn {
  height: 52px;
  width: 192px;
}
.video-block__video {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f1f1f1;
  width: 259px;
  height: 150px;
}
.video-block__play {
  outline: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.video-block__play:hover img {
  width: 120px;
}
.video-block__play:active img {
  width: 80px;
}
.btn {
  outline: 0;
  border: 2px solid #444444;
  background-color: #ffffff;
  color: #444444;
  width: 100%;
  height: 52px;
  font-size: 17px;
  line-height: 20px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
.btn:focus,
.btn:hover {
  background-color: #444444;
  color: #fff;
}
.btn:active {
  color: rgba(255, 255, 255, 0.3);
}
.btn:disabled,
.btn .disabled {
  color: #ececec;
  border: 2px solid #ececec;
}
.btn--palette-primary {
  color: #fff;
  border: 2px solid #63d1bb;
  background-color: #63d1bb;
}
.btn--palette-primary:focus,
.btn--palette-primary:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: #63d1bb;
}
.btn--palette-primary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #63d1bb;
}
.form-block {
  padding-top: 22px;
  padding-bottom: 28px;
}
.form-block__container {
  padding: 0 30px;
  padding-bottom: 20px;
}
.form-block__descr {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
.form-block__item {
  padding: 0px 30px;
  position: relative;
}
.form-block__item:before {
  position: absolute;
  width: 198px;
  height: 1px;
  top: 0px;
  left: 60px;
  background: url("../img/line-green.jpg") no-repeat 0% 0%;
}
.form-block__item--tel .form-block__name-item,
.form-block__item--email .form-block__name-item {
  padding-bottom: 0px;
}
.form-block__item--tel {
  padding-top: 3px;
  padding-bottom: 0px;
}
.form-block__name-item {
  position: relative;
  color: #63d1bb;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 21px;
}
.form-block__name-item:after {
  position: absolute;
  content: "";
  width: 199px;
  height: 10px;
  top: 2px;
  left: 62px;
  border-bottom: 2px solid #63d1bb;
}
.form-block__note {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  display: block;
  padding: 0 30px;
  padding-bottom: 35px;
}
.form-block__order {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 30px;
  width: 260px;
}
.form-item {
  padding: 0px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 15px;
}
.form-item--fio {
  -ms-flex-direction: column;
      flex-direction: column;
  padding-bottom: 23px;
}
.form-item--fio:last-child {
  padding-bottom: 0px;
}
.form-item--colors:not(:last-child) {
  padding-bottom: 33px;
}
.form-item--tel {
  padding-top: 0px;
  padding-bottom: 30px;
  position: relative;
}
.form-item--tel::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  top: 13px;
  right: 20px;
  background: url("../img/icons/icon-phone.svg") no-repeat;
  opacity: 0.3;
}
.form-item--email:last-child {
  padding-bottom: 0px;
  position: relative;
}
.form-item--email:last-child::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 26px;
  top: 13px;
  right: 22px;
  background: url("../img/icons/icon-mail.svg") no-repeat;
  opacity: 0.3;
}
.form-item__value {
  display: none;
}
.form-item__values {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-item__values--fio {
  padding-top: 5px;
}
.form-item__label {
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 60px;
  color: #000000;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}
.form-item__label::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 24px;
  top: -5px;
  vertical-align: middle;
  border: 9px solid white;
  left: -58px;
  box-shadow: 0 0 0 2px #444444;
}
.form-item__label--radio::before {
  border-radius: 50%;
}
.form-item__label--checkbox::before {
  width: 20px;
  height: 20px;
  border: 8px solid white;
}
.form-item__label:hover::before {
  box-shadow: 0 0 0 2px #63d1bb;
}
.form-item__label:active::before {
  box-shadow: 0 0 0 2px #c7c7c7;
}
.form-item__value--radio:checked + label::before {
  background: #63d1bb;
}
.form-item__value--checkbox:checked + label::before {
  background-image: url("../img/icons/icon-tick.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}
.form-item__value:disabled + label[for*="radio"]::before {
  box-shadow: 0 0 0 3px #ecf0f1;
}
.form-item__value:disabled + label {
  color: #ecf0f1;
}
.form-item__value:required {
  border-color: #e74c3c;
}
.form-item__label-text {
  font-size: 17px;
  line-height: 18px;
  display: block;
  font-weight: 700;
}
.form-item__value-text {
  outline: 0;
}
.form-item__value-text--fio,
.form-item__value-text--tel,
.form-item__value-text--email {
  width: 100%;
  font-size: 17px;
  line-height: 18px;
  padding: 15px 0px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 2px solid #000000;
}
.form-item__value-text--fio:hover,
.form-item__value-text--tel:hover,
.form-item__value-text--email:hover {
  border: none;
  border-bottom: 2px solid #63d1bb;
}
.form-item__value-text--fio:active,
.form-item__value-text--tel:active,
.form-item__value-text--email:active {
  border-bottom: 1px solid #63d1bb;
}
.form-item__value-text--tel,
.form-item__value-text--email {
  padding-bottom: 20px;
}
textarea[class*="form-item__value-text--dop"] {
  width: 100%;
  font-size: 17px;
  line-height: 18px;
  padding: 15px;
  margin-bottom: 0px;
  border: 2px solid #000000;
}
textarea[class*="form-item__value-text--dop"]:hover,
textarea[class*="form-item__value-text--dop"]:active {
  border: 2px solid #63d1bb;
}
.social‐link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 22px;
  height: 25px;
  text-align: center;
  padding-right: 30px;
}
.social‐link:hover svg {
  fill: #46c1ae;
  opacity: 1;
}
.social‐link:active svg {
  fill: #46c1ae;
  opacity: 0.3;
}
.social‐link:visited {
  color: blue;
  text-decoration: none;
}
.modal-size {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}
.modal-size__content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 570px;
  min-height: 336px;
  margin-left: -283px;
  margin-top: -168px;
  padding-top: 10px;
  padding-bottom: 46px;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  z-index: 1000;
  box-sizing: border-box;
}
.modal-size__wrapper {
  width: 260px;
  margin: 0 auto;
}
.modal-size__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
.modal-size__text {
  display: block;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-align: center;
}
.modal-size__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 23px;
  padding: 0;
  list-style: none;
}
.modal-size__list li {
  margin-right: 7px;
}
.modal-size__list li:nth-child(3n) {
  margin-right: 0;
}
.modal-size__label {
  display: block;
  width: 54px;
  margin: 0 0 7px;
  padding: 12px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #ececec;
}
.modal-size__label:focus,
.modal-size__label:hover {
  border: 2px solid #c7c7c7;
}
.modal-size__label:active {
  border: 2px solid #63d1bb;
}
.modal-size__label:disabled,
.modal-size__label .disabled {
  color: #ececec;
  border: 2px solid #ececec;
}
.modal-size__input:checked ~ .modal-size__label {
  border: 2px solid #63d1bb;
}
.modal-size__input:checked ~ .modal-size__label:focus,
.modal-size__input:checked ~ .modal-size__label:hover {
  border: 2px solid #c7c7c7;
}
.modal-size__input:checked ~ .modal-size__label:active {
  border: 2px solid #ececec;
}
.modal-size__btn {
  width: 100%;
}
.modal-size__show {
  display: block;
}
@media (min-width: 768px) {
  .page-header {
    height: 88px;
    /* минимальная высота содержания */
  }
  .container-block {
    width: 668px;
  }
  .container-block--form-padding {
    padding-bottom: 0px;
  }
  .logo {
    height: 35px;
    z-index: 3;
    margin: 0;
  }
  .logo__img {
    padding: 0px;
    padding-top: 60px;
  }
  .main-nav__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
  .main-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -35px;
  }
  .main-nav__toggle {
    display: none;
  }
  .main‐nav__list1,
  .main‐nav__list2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main‐nav__list1 {
    -ms-flex-order: -1;
    order: -1;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 90px;
    width: 48%;
  }
  .main‐nav__list2 {
    width: 52%;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .main‐nav__item {
    height: 88px;
    padding: 0px;
    border: none;
    border-left: 1px solid #ececec;
  }
  .main‐nav__item:first-child {
    border-top: none;
  }
  .main‐nav__link {
    padding: 30px 25px;
    font-weight: 700;
  }
  .main‐nav__item--search {
    -ms-flex-order: -2;
    order: -2;
    position: relative;
    width: 80px;
  }
  .main‐nav__item--cart {
    -ms-flex-order: -1;
    order: -1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .main‐nav__link--cart {
    padding-left: 82px;
    padding-right: 0px;
  }
  .main‐nav__icon-search {
    padding: 0px;
  }
  .main‐nav__link--search {
    font-size: 0px;
  }
  .main‐nav__link--search svg:hover {
    fill: #63d1bb;
    opacity: 1;
  }
  .main‐nav__item--catalog,
  .main‐nav__item--knitting {
    background: none;
    border: none;
    z-index: 2;
    width: 50%;
  }
  .main‐nav__link--catalog {
    padding: 21px 0px;
    font-size: 15px;
    line-height: 24px;
  }
  .main‐nav__link--knitting {
    padding: 21px 0px;
    font-size: 15px;
    line-height: 24px;
    padding-left: 6px;
  }
  .main‐nav__item--promo-text {
    display: block;
    z-index: 2;
    background: none;
    width: 255px;
    border: none;
  }
  .main‐nav__promo-text {
    padding-top: 20px;
    display: block;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
  }
  .page-main__zigzag-line {
    width: 100%;
    height: 20px;
    position: absolute;
    z-index: 4;
    background: url("../img/icons/bg-zigzag-fill.svg") repeat-x;
    top: 295px;
    left: 0px;
    right: 0px;
  }
  .page-main__zigzag-line--top {
    top: 816px;
  }
  /* не работает в IE11
		.page-main {
		position: relative;
		&:before {
			content: "";
		    width: 100%;
		    height: 20px;
		    position: absolute;
		    z-index: 4;
		    background: url("../img/icons/bg-zigzag-fill.svg") repeat-x;
		    top: 203px;
		    left: 0px;
		    right: 0px;
		}
		&--zigzag {
			&:before {
				top: 727px;
			}
		}
	}*/
  .page-main__title-block {
    height: 220px;
    position: relative;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .page-main__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    width: 668px;
    padding-top: 96px;
  }
  .top-block--wrapper-bg {
    background: #f9f9f9 url("../img/hero-desktop@1x.jpg") no-repeat 50% 20%;
  }
  .top-block__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    width: 510px;
    padding-top: 155px;
  }
  .top-block__wrapper {
    height: 743px;
    /* минимальная высота содержания */
    width: 668px;
    margin: 0 auto;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .top-block {
    position: relative;
  }
  .top-block__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: -117px;
  }
  .top-block__item {
    width: 334px;
    height: 116px;
  }
  .top-block__item:hover {
    height: 121px;
    margin-top: -112px;
  }
  .top-block__item-interior,
  .top-block__item-toys {
    padding: 24px 33px;
    font-size: 20px;
    line-height: 30px;
  }
  .product-item__title {
    font-size: 43px;
    line-height: 50px;
  }
  .product-item {
    padding-bottom: 50px;
    padding-top: 47px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .product-item__titles {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .product-item__img {
    padding: 0px;
    float: right;
    padding-top: 5px;
  }
  .product-item__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    padding: 0px;
  }
  .product-item__descr {
    padding-bottom: 34px;
    font-size: 17px;
    line-height: 30px;
  }
  .product-item__descr-title {
    padding: 0px;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    width: 100px;
    text-align: center;
    padding-right: 10px;
  }
  .product-item-spec {
    font-size: 15px;
    line-height: 20px;
  }
  .product-item-spec__name,
  .product-item-spec__value {
    padding: 10px 0px 10px;
  }
  .product-item__block-descr {
    width: 290px;
    float: left;
    padding-bottom: 50px;
  }
  .product-item__block-order {
    width: 290px;
    clear: left;
  }
  .product-item__price {
    padding-bottom: 35px;
    color: #444444;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }
  .block-about__title {
    font-size: 43px;
    line-height: 50px;
  }
  .block-about {
    padding: 0px;
    padding-top: 70px;
    padding-bottom: 55px;
  }
  .block-about__text {
    font-size: 20px;
    line-height: 22px;
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .block-about__title {
    padding-bottom: 20px;
  }
  .block-about__list {
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .block-about__item {
    width: 50%;
  }
  .block-about__item--eco {
    -ms-flex-order: 1;
    order: 1;
  }
  .block-about__item--style {
    -ms-flex-order: 3;
    order: 3;
  }
  .block-about__item--like {
    -ms-flex-order: 5;
    order: 5;
  }
  .block-about__item--hand {
    -ms-flex-order: 2;
    order: 2;
  }
  .block-about__item--support {
    -ms-flex-order: 4;
    order: 4;
  }
  .block-about__item--pack {
    -ms-flex-order: 6;
    order: 6;
  }
  .block-about__img-wrap {
    padding-top: 27px;
  }
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }
  .reviews {
    width: 768px;
    margin: 0 auto;
    background: url("../img/review@1x.jpg") no-repeat;
    padding-bottom: 0px;
    box-sizing: border-box;
  }
  .reviews__wrapper {
    width: auto;
    padding: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 77px;
  }
  .reviews__item-text {
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 55px;
  }
  .reviews__auhor‐name {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 18px;
  }
  .reviews__auhor‐email {
    display: block;
  }
  .reviews__list {
    padding-top: 48px;
  }
  .reviews__write {
    -ms-flex-order: -1;
    order: -1;
  }
  .reviews__write.btn {
    width: 26%;
  }
  .reviews__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    -ms-flex-order: -2;
    order: -2;
  }
  .reviews__prev,
  .reviews__next {
    border: none;
    width: 50px;
    height: 25px;
    margin-left: 10px;
    margin-top: 58px;
  }
  .reviews__next {
    margin-left: 38px;
  }
  .reviews__slider-btn {
    text-align: center;
    position: relative;
    float: right;
    top: -100px;
    width: 25%;
  }
  .contacts {
    width: 768px;
    position: relative;
    padding-bottom: 60px;
    padding-top: 70px;
  }
  .contacts__container-block {
    padding: 0px;
  }
  .contacts__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    position: relative;
    text-align: left;
  }
  .contacts__title:after {
    position: absolute;
    display: block;
    content: "";
    background: url("../img/icons/icon-flag.svg") no-repeat;
    width: 50px;
    height: 85px;
    right: 0px;
    top: -15px;
  }
  .contacts__value {
    font-size: 17px;
    line-height: 30px;
    width: auto;
    display: block;
    text-align: left;
    padding-left: 0px;
  }
  .contacts__value--email {
    color: black;
    text-decoration: none;
  }
  .contacts__value--email:hover {
    color: #63d1bb;
  }
  .contacts__value--email:active {
    opacity: 0.3;
  }
  .contacts__name {
    padding-right: 25px;
    font-size: 17px;
    line-height: 30px;
    width: auto;
  }
  .contacts__list {
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
    padding-bottom: 55px;
  }
  .contacts__item {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0px;
  }
  .contacts_write.btn {
    width: 230px;
  }
  .contacts__container-btn {
    text-align: center;
    width: auto;
    margin: 0 auto;
  }
  .contacts__img-map {
    width: 768px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .contacts__img-map img {
    width: auto;
  }
  .page-footer {
    height: 144px;
  }
  .page‐footer__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .page‐footer__social,
  .page‐footer__logo,
  .page‐footer__copyright‐text {
    width: 30%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  .page‐footer__logo:hover svg {
    fill: #46c1ae;
    opacity: 1;
  }
  .page‐footer__logo:active svg {
    fill: #46c1ae;
    opacity: 0.3;
  }
  .page‐footer__social {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .page‐footer__copyright‐text {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .product-list {
    padding: 0px;
    padding-top: 85px;
    padding-bottom: 0px;
  }
  .product-list__item {
    padding-top: 0px;
    margin-top: 46px;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #ececec;
  }
  .product-list__item:first-child {
    margin-top: 0px;
  }
  .product-list__item-descr {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 30px;
  }
  .product-list__item-descr-block {
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0px 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .product-list__item-title {
    font-size: 20px;
    line-height: 24px;
    padding-top: 25px;
    padding-bottom: 4px;
    max-width: 280px;
  }
  .product-list__item-price {
    padding: 20px 9px 35px;
    font-size: 17px;
    line-height: 24px;
    margin-top: auto;
  }
  .product-list__item-img {
    width: auto;
  }
  .video-block {
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 63px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 668px;
  }
  .video-block__content {
    width: 668px;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    padding-top: 35px;
  }
  .video-block__video {
    -ms-flex-order: -1;
    order: -1;
    margin: 0 auto;
    width: 670px;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
  }
  .video-block__descr {
    font-size: 15px;
    line-height: 30px;
    width: 668px;
    padding: 0px 40px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .video-block__container {
    width: 584px;
    margin: 0 auto;
    padding: 35px 0px;
    padding-bottom: 45px;
  }
  .video-block__title {
    font-size: 20px;
    line-height: 24px;
    padding: 0px;
    padding-left: 105px;
    padding-bottom: 32px;
    position: relative;
  }
  .video-block__title:before {
    left: 40px;
    top: 0px;
  }
  .video-block__order.btn {
    width: 584px;
  }
  .form-block {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .form-block__bg {
    background-color: #f1f1f1;
  }
  .form-block__container {
    position: relative;
    padding: 0px;
    padding-bottom: 0px;
  }
  .form-block__descr {
    font-size: 17px;
    line-height: 30px;
  }
  .form-block__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px;
    padding-bottom: 30px;
    padding-top: 50px;
  }
  .form-block__item--tel {
    padding-bottom: 0px;
  }
  .form-block__item--fio {
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-top: 44px;
    padding-bottom: 50px;
  }
  .form-block__item--email {
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .form-block__item--dop {
    padding-bottom: 10px;
  }
  .form-block__name-item {
    width: 162px;
    padding-top: 18px;
    padding-left: 3px;
  }
  .form-block__name-item:after {
    display: none;
  }
  .form-block__order {
    width: 230px;
    margin: 0px;
  }
  .form-block__note {
    padding: 0px;
    padding-bottom: 35px;
    display: block;
    padding-top: 15px;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 30px;
    float: right;
    clear: left;
  }
  .form-block__form {
    position: relative;
  }
  .form-item__values {
    width: 75%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .form-item__values--colors {
    padding-right: 22px;
  }
  .form-item {
    padding-bottom: 37px;
  }
  .form-item--colors {
    width: 45%;
  }
  .form-item--colors:not(:last-child) {
    padding-bottom: 38px;
  }
  .form-item--fio {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-bottom: 25px;
  }
  .form-item--tel,
  .form-item--email {
    width: 100%;
    padding-bottom: 20px;
  }
  .form-item--dop {
    width: 75%;
  }
  .form-item__value-text {
    margin-left: 24px;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }
  .form-item__value-text--tel,
  .form-item__value-text--email,
  .form-item__value-text--dop {
    width: 100%;
    margin-left: 0px;
    background-color: #f1f1f1;
  }
  .form-item__value-text--dop {
    background: none;
  }
  .form-item__label {
    margin-left: 90px;
    padding-top: 10px;
    padding-left: 0px;
  }
  .form-item__label::before {
    width: 21px;
    height: 18px;
    border: 15px solid white;
    left: -88px;
  }
  .form-item__label--checkbox::before {
    width: 29px;
    height: 26px;
    border: 11px solid white;
    border-color: #f1f1f1;
    background-color: #f1f1f1;
  }
  .modal-size__content {
    padding-top: 20px;
  }
  .modal-size__wrapper {
    width: 350px;
  }
  .modal-size__title {
    font-size: 29.5px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .modal-size__text {
    font-size: 17px;
    margin-bottom: 21px;
  }
  .modal-size__list {
    margin-bottom: 24px;
  }
  .modal-size__label {
    width: 84px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .page-main__title {
    font-size: 43px;
    line-height: 50px;
  }
  .top-block__title {
    font-size: 43px;
    line-height: 50px;
  }
  .product-item__title {
    font-size: 43px;
    line-height: 50px;
  }
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .top-block__wrapper-bg {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 668px auto;
  }
  .reviews {
    background-image: url("../img/review@2x.jpg");
    background-size: 350px auto;
  }
  .video-block__video {
    background-image: url("../img/video-tablet@2x.jpg");
    background-size: 668px auto;
  }
}
@media (min-width: 1150px) {
  .page-header__promo-text {
    right: 100px;
  }
  .container-block {
    width: 1050px;
  }
  .logo {
    margin: 0 auto;
    height: auto;
    width: 153px;
  }
  .logo__img {
    width: 153px;
    height: auto;
    padding-top: 10px;
  }
  .main-nav {
    margin-top: -90px;
  }
  .main‐nav__item {
    height: 88px;
    padding: 0px;
    border-left: 1px solid #ececec;
  }
  .main‐nav__item--cart {
    -ms-flex-order: -1;
    order: -1;
  }
  .main‐nav__item--search {
    width: 81px;
  }
  .main‐nav__list1 {
    -ms-flex-order: -1;
    order: -1;
    width: 66%;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 0px;
  }
  .main‐nav__list2 {
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 350px;
  }
  .main‐nav__item--catalog {
    background: none;
    border: none;
    border-right: 1px solid #ececec;
    width: 185px;
  }
  .main‐nav__item--knitting {
    background: none;
    border: none;
    width: 350px;
  }
  .main‐nav__item--new {
    display: block;
    background: none;
    border: none;
    z-index: 2;
    width: 185px;
  }
  .main‐nav__item--sale {
    display: block;
    background: none;
    border: none;
    z-index: 2;
    width: 210px;
  }
  .main‐nav__link {
    padding: 30px 0px;
  }
  .main‐nav__link--catalog,
  .main‐nav__link--knitting {
    padding: 31px 0px;
    font-size: 17px;
    line-height: 24px;
  }
  .main‐nav__link--knitting {
    padding-left: 34px;
  }
  .main‐nav__link--new {
    font-size: 15px;
    line-height: 24px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 17px;
  }
  .main‐nav__link--sale {
    font-size: 15px;
    line-height: 24px;
    padding-left: 34px;
    padding-top: 17px;
  }
  .main‐nav__link--cart {
    padding-left: 85px;
  }
  .main‐nav__link--cart::before {
    top: 27px;
  }
  .main‐nav__link--search::before {
    top: 27px;
  }
  .main‐nav__item--promo-text {
    border: none;
    text-align: right;
    padding-top: 0px;
  }
  .main‐nav__promo-text {
    padding-top: 17px;
  }
  .page-main__zigzag-line {
    top: 329px;
  }
  .page-main__zigzag-line--top {
    top: 824px;
  }
  /* не работает в IE11
	 .page-main {
		&:before {
			top: 237px;
		}
		
		&--zigzag {
			&:before {
				top: 735px;
			}
		}
	}*/
  .page-main__title-block {
    height: 254px;
  }
  .page-main__promo-text {
    right: 100px;
  }
  .top-block--wrapper-bg {
    background: #f9f9f9 url("../img/hero-desktop@1x.jpg") no-repeat 50% 20%;
  }
  .top-block__wrapper {
    height: 746px;
    /* минимальная высота содержания */
    width: 1050px;
    margin: 0 auto;
  }
  .top-block__item {
    width: 525px;
    height: 121px;
  }
  .top-block__item:hover {
    height: 126px;
  }
  .top-block__title {
    width: 630px;
  }
  .top-block__item-interior,
  .top-block__item-toys {
    padding: 24px 35px;
  }
  .top-block__item-interior::after,
  .top-block__item-toys::after {
    top: 25px;
    width: 60px;
  }
  .product-item__title {
    font-size: 53px;
    line-height: 57px;
  }
  .product-item {
    padding-bottom: 0px;
    padding-top: 125px;
    margin: 0px;
  }
  .product-item__container {
    position: relative;
  }
  .product-item__container::after {
    content: "";
    display: table;
    clear: both;
  }
  .product-item__img {
    width: 525px;
    position: relative;
  }
  .product-item__img img {
    position: absolute;
    top: -160px;
    right: 0px;
  }
  .product-item__titles {
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-bottom: 50px;
  }
  .product-item__title {
    z-index: 1;
  }
  .product-item__descr-title-wrap {
    -ms-flex-order: -1;
    order: -1;
    width: 175px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .product-item__block-descr {
    width: 294px;
    padding-left: 175px;
    padding-bottom: 105px;
  }
  .product-item__descr {
    padding-bottom: 45px;
  }
  .product-item__block-order {
    -ms-flex-order: 1;
    order: 1;
    padding-left: 175px;
    width: 292px;
    height: 183px;
    clear: left;
  }
  .product-item-spec__name,
  .product-item-spec__value {
    padding: 10px 0px;
  }
  .block-about__title {
    font-size: 53px;
    line-height: 57px;
  }
  .block-about {
    clear: both;
  }
  .block-about--wrapper {
    padding: 0px 175px;
    padding-top: 83px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
  .block-about__title {
    padding-bottom: 50px;
  }
  .block-about__list {
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 668px;
  }
  .block-about__img-wrap {
    padding-top: 0px;
  }
  .block-about__text {
    padding-bottom: 50px;
  }
  .block-about__item {
    width: 48%;
  }
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
  .reviews {
    width: 1150px;
    margin: 0 auto;
    background: none;
    padding-bottom: 40px;
  }
  .reviews__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
  }
  .reviews__wrapper {
    width: 1050px;
    box-sizing: border-box;
    padding: 0px 175px;
    background: url("../img/review@1x.jpg") no-repeat;
    padding-top: 65px;
  }
  .reviews__auhor‐name {
    font-size: 17px;
    line-height: 24px;
  }
  .reviews__write.btn {
    position: relative;
    left: 175px;
    top: 10px;
    height: 51px;
    width: 175px;
  }
  .reviews__slider-btn {
    left: 118px;
  }
  .reviews__item-text {
    padding-bottom: 40px;
  }
  .reviews__item {
    width: 784px;
  }
  .contacts {
    width: 1050px;
    padding-bottom: 100px;
    margin: 0px auto;
    padding-top: 90px;
    clear: both;
  }
  .contacts__container-block {
    width: 525px;
    text-align: left;
    margin: 0px;
    padding-top: 70px;
    float: left;
    clear: right;
  }
  .contacts__wrap {
    padding-left: 175px;
    box-sizing: border-box;
  }
  .contacts__container-btn {
    text-align: center;
    width: auto;
    padding-left: 60px;
    clear: left;
    padding-top: 47px;
  }
  .contacts__list {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .contacts__img-map {
    width: 525px;
    padding-bottom: 0px;
    margin: 0;
    float: right;
  }
  .contacts__item {
    width: 100%;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-bottom: 30px;
  }
  .contacts__name {
    display: block;
  }
  .contacts__value-wrap {
    width: 70%;
    text-align: left;
  }
  .contacts__value {
    text-align: left;
  }
  .contacts__title {
    padding-bottom: 50px;
  }
  .contacts__title:after {
    right: 413px;
    top: -10px;
  }
  .page-footer {
    clear: both;
  }
  .page‐footer__social:before {
    left: 100px;
  }
  .page‐footer__copyright‐text {
    padding: 30px 0px;
  }
  .product-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 130px;
  }
  .product-list__item {
    margin-top: 0px;
    margin-bottom: 30px;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
  }
  .product-list__item-title {
    padding-top: 19px;
    padding-left: 3px;
    padding-bottom: 4px;
    max-width: 235px;
  }
  .product-list__item-descr-block {
    padding: 0 25px;
  }
  .product-list__item-descr-block > span {
    padding-bottom: 18px;
  }
  .product-list__item-price {
    padding-bottom: 25px;
  }
  .video-block {
    display: block;
    clear: both;
    width: 1050px;
    padding-bottom: 0px;
    margin-top: 30px;
    margin-bottom: 107px;
  }
  .video-block__title {
    width: 226px;
    padding-left: 80px;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .video-block__title:before {
    left: 80px;
    top: 5px;
  }
  .video-block__content {
    display: inline-block;
    vertical-align: middle;
    width: 368px;
  }
  .video-block__video {
    float: left;
    padding-bottom: 0px;
    width: 682px;
    height: 453px;
    background-image: url("../img/video-desktop@1x.jpg");
  }
  .video-block__descr {
    font-size: 15px;
    line-height: 30px;
    width: 368px;
    float: left;
    padding: 0px 58px 0px 80px;
  }
  .video-block__container {
    width: 238px;
    padding-left: 80px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 47px;
    padding-bottom: 60px;
  }
  .video-block__order.btn {
    width: 229px;
  }
  .form-block {
    padding-top: 124px;
  }
  .form-block__form {
    padding-top: 0px;
  }
  .form-block__descr {
    padding: 0px 175px;
  }
  .form-block__container {
    box-sizing: border-box;
  }
  .form-block__name-item {
    width: 175px;
    padding-left: 64px;
    box-sizing: border-box;
  }
  .form-block__note {
    padding-right: 175px;
  }
  .form-block__order {
    margin-left: 175px;
  }
  .form-item__values--type {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form-item__values--fio {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form-item__label {
    font-size: 19px;
    font-weight: bold;
    padding-left: 0px;
    margin-left: 80px;
  }
  .form-item__label:before {
    left: -78px;
  }
  .form-item {
    width: 700px;
  }
  .form-item--colors {
    width: 30%;
  }
  .form-item--fio {
    -ms-flex-direction: row;
    flex-direction: row;
    padding-bottom: 25px;
  }
}
@media (min-width: 768px) and (min-width: 1150px) {
  .page-main__title {
    font-size: 53px;
    line-height: 57px;
  }
  .top-block__title {
    font-size: 53px;
    line-height: 57px;
  }
  .product-item__title {
    font-size: 53px;
    line-height: 57px;
  }
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
}
@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .top-block--wrapper-bg {
    background-image: url("../img/hero-desktop@2x.jpg");
    background-size: 1150px auto;
  }
  .video-block__video {
    background-image: url("../img/video-desktop@2x.jpg");
    background-size: 682px auto;
  }
}
@media (min-width: 1150px) and (min-width: 768px) {
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) and (min-width: 1150px) {
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
}
@media (max-width: 767px) {
  .main-nav--closed .main‐nav__list1,
  .main-nav--closed .main‐nav__list2 {
    display: none;
  }
  .main-nav--nojs .main‐nav__list1,
  .main-nav--nojs .main‐nav__list2 {
    display: block;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
  .main-nav--opened .main‐nav__list1,
  .main-nav--opened .main‐nav__list2 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    width: 100%;
  }
  .main-nav--opened .main‐nav__list2 {
    top: 162px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .top-block--wrapper-bg {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
  .video-block__video {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 259px auto;
  }
}
