.text-size(@font-size; @line-height) {
	font-size: @font-size;
	line-height: @line-height;
}

.text-size-title() {
	
	.text-size(25px; 30px);
	font-weight: bold;
	
	@media @tablet-widths {
		
		.text-size(43px; 50px);
	}
	
	@media @desktop-widths {
	    .text-size(53px; 57px);
	}
}

.container() {

  width: 260px;
  margin: 0 auto;

  @media @tablet-widths {
    width: 668px;
  }

  @media @desktop-widths {
    width: 1050px;
  }

}

.clearfix() {
	content: "";
	display: table;
	clear: both;
}