@font-face {
    font-family: "OpenSans";
    src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
} 

body {
	font-family: "OpenSans", "Tahoma", sans-serif;
	color: @color-black;
	margin: 0px;
	min-width: 320px;
	padding: 0;
}

main {
	padding: 0px;
	margin: 0px;
}

p {
	padding: 0px;
	margin: 0px;
}

.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
} 