.block-about {
	padding-top: 30px;
}

.block-about__wrapper {
	.container();
	color: @color-black;
}

.block-about__title {
	.text-size-title();
	margin: 0px auto;
}

.block-about__text {
	.text-size(17px; 20px);
	padding: 0px;
	margin: 0px;
	padding-top: 20px; 
}

.block-about__list {
	padding: 0px;
	margin: 0px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.block-about__item {
		width: 100%;
	}

.block-about__img-wrap {
	color: @color-blue;
	padding-top: 30px; 
}

@media @tablet-widths {
	
	.block-about {
		padding-top: 60px;
		padding-bottom: 35px;
	}
	
	.block-about__text {
	.text-size(20px; 22px);
	padding-top: 15px;
	padding-bottom: 45px;
	}
	
	.block-about__title {
		padding-bottom: 20px;
	}
	
	.block-about__list {
		align-items: baseline;
	}
	
	.block-about__item {
		width: 50%;
		&--eco {
			order: 1;
		}
		&--style {
			order: 3;
		}
		&--like {
			order: 5;
		}
		&--hand {
			order: 2;
		}
		&--support {
			order: 4;
		}
		&--pack {
			order: 6;
		}
	}
}

@media @desktop-widths {
	
	.block-about {
		padding-top: 55px;
		padding-bottom: 45px;
		clear: both;
	}

	.block-about__wrapper {
		width: 1250px;
		padding: 0px 275px;
		box-sizing: border-box;
	}
	.block-about__list {
		justify-content: space-between;
		width: 668px;
	}
	
	.block-about__img-wrap {
		padding-top: 10px;
	}
	
}