.form-block {
	margin-top: 30px;
}

.form-block__descr {
	.text-size(13px; 24px);
}

.form-block__form {
	margin-top: 30px;
}

.form-block__item {
	position: relative;
	
	&:before {
		position: absolute;
		width: 198px;
		height: 1px;
		top: 0px;
		left: 60px;
		background: url("/img/line-green.psd") no-repeat 0% 0%;
	}
}

.form-block__name-item {
	color: @color-blue;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 30px;
}

.form-block__note {
	.text-size(14px; 16px);
	color: @color-gray-black;
}

.form-block__order {
	margin-top: 35px;
	margin-bottom: 55px;
}