.form-item__value {
	display: none;
}
	
.form-item__label {
	position: relative;
	display: block;
	margin-bottom: 25px;
	margin-top: 15px;
	margin-left: 60px;
	vertical-align: middle;
	color: @color-black;
	.text-size(17px; 18px);
	
	&::before {
	position: absolute;
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 24px;
	top: -5px;
	vertical-align: middle;
	border: 9px solid white;
	background-color: white;
	left: -58px;
	box-shadow: 0 0 0 2px @color-gray-black;
	}
	
	&--radio::before {
		border-radius: 50%;
	}
}

.form-item__value--radio:checked + label::before {
	background: @color-blue;
}

.form-item__value--checkbox:checked + label::before {
		content: "\2713";
	}

.form-item__value:disabled + label[for*="radio"]::before {
	box-shadow: 0 0 0 3px #ecf0f1;
}

.form-item__value:disabled + label {
	color: #ecf0f1;
}

.form-item__value:required {
	border-color: #e74c3c;
}

.form-item__label-text {
	.text-size(17px; 18px);
	display: block;	
}

.form-item__value-text {
	&--fio, &--tel, &--email {
	.text-size(17px; 18px);
	padding: 15px 0px;
	margin-bottom: 25px;
	border: none;
	border-bottom: 2px solid @color-black;
	}
}

textarea[class*="form-item__value-text--dop"] {
	.text-size(17px; 18px);
	padding: 15px;
	margin-bottom: 25px;
	border: 2px solid @color-black;	
}

@media @tablet-widths {
	
	
	.form-item__values {
		width: 70%;
		display: flex;
		flex-wrap: wrap;
		
		&--fio {
			flex-direction: column;
		}
	}
	
	.form-item {
		&--colors {
			width: 50%;
		}
		&--fio {
			display: flex;
			justify-content: flex-start;
			align-items: baseline;
		}
		&--tel, &--email {
			width: 100%;
		}
		&--dop {
			width: 70%;
		}
	}
	
	.form-item__value-text {
		margin-left: 20px;
		flex-grow: 2;
		
		&--tel, &--email, &--dop {
			width: 100%;
			margin-left: 0px;
			background-color: @color-light-gray;
		}
		
		&--dop {
			background: none;
		}
	}
}

@media @desktop-widths {
	
	.form-item__values {
		&--type {
			flex-direction: column;
		}
	}
	
	.form-item__label {
		font-size: 19px;
		font-weight: bold;
	}
	
	.form-item {
		&--colors {
			width: 30%;
		}
	}
}
	