.form-block {
	padding-top: 22px;
	padding-bottom: 28px;
}

.form-block__container {
	.container();	
	padding-bottom: 28px;
}

.form-block__descr {
	.text-size(13px; 24px);
	color: #444444;
}

.form-block__form {
	padding-top: 30px;
}

.form-block__item {
	position: relative;
	
	&:before {
		position: absolute;
		width: 198px;
		height: 1px;
		top: 0px;
		left: 60px;
		background: url("../img/line-green.jpg") no-repeat 0% 0%;
	}
	
	&--tel .form-block__name-item, &--email .form-block__name-item {
		padding-bottom: 0px;
	}
}

.form-block__name-item {
	color: @color-blue;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 20px;
}

.form-block__note {
	.text-size(14px; 16px);
	color: @color-gray-black;
	display: block;
	padding-bottom: 35px;
}

.form-block__order {
	padding-top: 15px;
	padding-bottom: 15px;
}



@media @tablet-widths {
	.form-block {
		padding-top: 80px;
		padding-bottom: 50px;
	}
	
	.form-block__bg {
		background-color: @color-light-gray;
	}
	
	.form-block__container {
		position: relative;
		padding-bottom: 0px;
	}

	
	.form-block__descr {
		.text-size(17px; 30px);
	}
	
	.form-block__item {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 30px;
		padding-top: 50px;
		
		&--tel {
			padding-bottom: 0px;
		}
		&--fio {
			align-items: baseline;
			padding-top: 40px;
			padding-bottom: 50px;
		}
		&--email {
			padding-top: 0px;
			padding-bottom: 50px;
		}
		
		&--dop {
			padding-bottom: 10px;
		}
	}
	
	.form-block__name-item {
		width: 165px;
		padding-top: 10px;
	}
	
	.form-block__order {
		width: 230px;
		padding-top: 10px;
	}
	
	.form-block__note {
		position: absolute;
		bottom: 0px;
		right: 0px;
		width: 250px;
		height: 20px;
		display: block;
		padding-top: 20px;
		box-sizing: border-box;
	}	
	
	.form-block__form {
		position: relative;
	}
}

@media @desktop-widths {
	.form-block {
		padding-top: 130px;
	}
	
	.form-block__form {
		padding-top: 0px;
	}
	
	.form-block__descr {
		padding: 0px 175px;
	}
	
	.form-block__container {
		 box-sizing: border-box;
	}
	
	.form-block__name-item {
		width: 175px;
		padding-left: 60px;
		box-sizing: border-box;

	}
	
	.form-block__note {
		right: 175px;
	}
	
	.form-block__order {
		margin-left: 175px;
	}
}