.logo {
	height: 80px;
	margin: 0 auto;
	min-width: 100px;
	flex-grow: 1;
	text-align: center;	
}

.logo__img {
	padding: 22px 0px;
}

@media @tablet-widths {
	.logo__img {
		display: none;
	}
	.logo {
		position: relative;
		&:after {
			display: block;
			position: absolute;
			content: "";
			top: 20px;
			left: 0px;
			background: url("img/logo-tablet.psd") no-repeat;
			width: 113px;
			height: 46px;
		}
	}
}

@media @desktop-widths {

	.logo {
		&:after {
			left: 445px;
			top: 10px;
			background: url("img/logo-desktop.psd") no-repeat;
			width: 149px;
			height: 72px;
		}
	}
}