.logo {
	height: 80px;
	flex-grow: 1;
	text-align: center;	
}

.logo__img {
	height: 35px;
	width: 86px;
	padding: 22px 0px;
}

@media @tablet-widths {
	.logo__img {
		display: none;
	}
	.logo {
		position: relative;
		&:after {
			display: block;
			position: absolute;
			content: "";
			top: 20px;
			left: 0px;
			background: url("../img/logo-tablet.png") no-repeat;
			width: 113px;
			height: 46px;
		}
	}
}

@media @desktop-widths {

	.logo {
		&:after {
			left: 480px;
			top: 10px;
			background: url("../img/logo-desktop.jpg") no-repeat;
			width: 149px;
			height: 72px;
		}
	}
}