.logo {
	height: 80px;
	flex-grow: 1;
	text-align: center;	
}

.logo__img {
	height: 35px;
	width: 86px;
	padding: 22px 0px;
}

@media @tablet-widths {
	.logo {
		position: absolute;
		height: 35px;
		width: 86px;
		left: 50px;
		top: 0px;
		z-index: 3;
	}
}

@media @desktop-widths {
	.logo {
		position: absolute;
		height: 35px;
		width: 86px;
		left: 700px;
		top: 0px;
		z-index: 3;
	}
}