.main-nav {
	position: relative;
	width: 100%;
	margin: 0 auto;	
}

.main-nav--closed .main-nav__toggle {
	outline: 0;
  	content: "";
	position: absolute;
	top: -47px;
	right: 30px;
	width: 21px;
	height: 15px;
	background: url("../img/icons/icon-menu-open.svg") no-repeat;
	border: none;
	font-size: 0;
	cursor: pointer;
}

.main-nav--opened .main-nav__toggle {
	outline: 0;
	content: "";
	position: absolute;
	top: -50px;
	right: 30px;
	width: 30px;
	height: 30px;
	background: url("../img/icons/icon-menu-close.svg") no-repeat;
	border: none;
	font-size: 0;
	cursor: pointer;
}

.main‐nav__list1, .main‐nav__list2 {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.main‐nav__item {
	height: 80px;
	background-color: @color-white;
	border-bottom: 1px solid @color-light-gray;
	
	&:first-child {
		border-top: 1px solid @color-border-gray;
	}
}
	
 
.main‐nav__link {
	color: @color-black;
	text-decoration: none;
	.text-size(17px; 24px);
	font-weight: bold;
	display: block;
	margin: 0px;
	padding: 25px 30px 25px 75px;
	box-sizing: border-box;
	
	position: relative;
		
	&--search:before, &--cart:before, {
		position: absolute;
		width: 22px;
		height: 22px;
		content: "";
		background: url("../img/icons/icon-search.svg") no-repeat 50% 50%;
		top: 27px;
		left: 29px;
	}

	&--cart:before {
		background: url("../img/icons/icon-cart.svg") no-repeat 50% 50%;
	} 
		
	&:hover span {
		opacity: 0.6;
	}
	
	&--search:hover::before {
		background: url("../img/icons/icon-search-green.svg") no-repeat;
		top: 29px;
		left: 31px;
		width: 22px;
		height: 22px;
		opacity: 1;
	}
	
	&--cart:hover::before {
			background: url("../img/icons/icon-cart-green.svg") no-repeat;
			top: 29px;
			left: 30px;
			width: 22px;
			height: 22px;
			opacity: 1;
		}	
	
	&:active {
		opacity: 0.3;
	}
}

.main‐nav__item--new, .main‐nav__item--sale, .main‐nav__item--promo-text {
	display: none;
}

@media @mobile-widths-only {
	
	.main-nav--closed .main‐nav__list1, .main-nav--closed .main‐nav__list2 {
	    display: none;
	  }
	  
	  .main-nav--nojs .main‐nav__list1, .main-nav--nojs .main‐nav__list2 {
	    display: block;
	  }
  
	.main-nav--nojs .main-nav__toggle {
	    display: none;
	  }

	  .main-nav--nojs .main-nav__wrapper {
	    position: static;
	    height: auto;
	  }
	
	  .main-nav--nojs .main-nav__item {
	    display: block;
	  }
	  
	  .main-nav--opened .main‐nav__list1, .main-nav--opened .main‐nav__list2 {
			position: absolute;
			top: 0px;
			left: 0px;
			padding: 0px;
			margin: 0px;
			z-index: 1;
			width: 100%;
		}
		
		.main-nav--opened .main‐nav__list2 {
			top: 162px;
		}
		
	.main‐nav__link{
		
	}	
}
	
@media @tablet-widths {
	
	.main-nav__wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
	}

  .main-nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: -35px;
	}
	
	.main-nav__toggle {
	    display: none;
	  }

	.main‐nav__list1, .main‐nav__list2 {
		display: flex;
		flex-wrap: wrap;
	}
	
	.main‐nav__list1 {
		order: -1;
		justify-content: flex-start;
		margin-top: 90px;
		width: 48%;
	}
	
	.main‐nav__list2 {
		width: 52%;
		justify-content: flex-end;
	}

	.main‐nav__item {
		height: 88px;
		padding: 0px;
		border: none;
		border-left: 1px solid @color-border-gray;
		&:first-child {
			border-top: none;
		}
	}
		
	.main‐nav__link {
		 padding: 30px 25px;
		.size-bold();
	}
	
	.main‐nav__item--search {
		order: -2;
		position: relative;
		width: 80px;
	}
	
	.main‐nav__item--cart {
		order: -1;
		flex-grow: 1;
	}
	
	.main‐nav__link--cart {
		padding-left: 82px;
		padding-right: 0px;
	}


	.main‐nav__icon-search {
		padding: 0px;
	}
	
	.main‐nav__link--search {
		font-size: 0px;
		
		
		& svg:hover {
			fill: #63d1bb;
			opacity: 1;
		}
	}
	
	.main‐nav__item--catalog, .main‐nav__item--knitting {
		background: none;
		border: none;
		z-index: 2;
		width: 50%;
	}
	
	.main‐nav__link--catalog {
		padding: 21px 0px;
		.text-size(15px; 24px);
	}
	
	.main‐nav__link--knitting {
		padding: 21px 0px;
		.text-size(15px; 24px);
		padding-left: 6px;
	}
	
	.main‐nav__item--promo-text {
		display: block;
		z-index: 2;
		background: none;
		width: 255px;
		border: none;
	}
	
	.main‐nav__promo-text {
		padding-top: 20px;
		display: block;
		.text-size(15px; 24px);
		text-align: right;
	}
}


@media @desktop-widths {
	
	.main-nav {
		margin-top: -90px;
	}
	
	.main‐nav__item {
		height: 88px;
		padding: 0px;
		border-left: 1px solid @color-border-gray;
	}
		
	.main‐nav__item--cart {
		order: -1;
	}
	
	.main‐nav__item--search {
		width: 81px;
	}
	
	.main‐nav__list1 {
		order: -1;
		width: 66%;
		justify-content: flex-start;
		margin-top: 0px;
	}
	.main‐nav__list2 {
		justify-content: flex-end;
		width: 350px;
	}
	
	.main‐nav__item--catalog {
		background: none;
		border: none;
		border-right: 1px solid @color-border-gray;
		width: 185px;
		
	}
	.main‐nav__item--knitting {
		background: none;
		border: none;
		width: 350px;
	}
	
	.main‐nav__item--new {
		display: block;
		background: none;
		border: none;
		z-index: 2;
		width: 185px;
	}
	
	.main‐nav__item--sale {
		display: block;
		background: none;
		border: none;
		z-index: 2;
		width: 210px;
	}
	
	.main‐nav__link {
		 padding: 30px 0px;
	}
	
	.main‐nav__link--catalog, .main‐nav__link--knitting {
		padding: 31px 0px;
		.text-size(17px; 24px);
	}
	
	.main‐nav__link--knitting {
		padding-left: 34px;
	}
	
	.main‐nav__link--new {
		.text-size(15px; 24px);
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 17px;
	}
	
	.main‐nav__link--sale {
		.text-size(15px; 24px);
		padding-left: 34px;
		padding-top: 17px;
	}
	
	.main‐nav__link--cart {
		padding-left: 85px;
		&::before {
			top: 27px;
		}
	}
	
	.main‐nav__link--search {
		&::before {
			top: 27px;
		}
	}
	
	.main‐nav__item--promo-text {
		border: none;
		text-align: right;
		padding-top: 0px;
	}
	
	.main‐nav__promo-text {
		padding-top: 17px;
	}
}