.page-main {
	margin: 0px;
}

.page-main__title-block {
	height: 177px;
	width: 320px;
	box-sizing: border-box;
	&--bg {
		background-color: @color-gray;
	}
}

.page-main__title {
	.text-size(27px; 30px);
	text-align: center;
	vertical-align: middle;
	padding: 60px 0px;
	margin: 0px;
    margin-left: auto;
    margin-right: auto;
}