.page-header {
	background-color: @color-white;
	min-height: 80px;
	border-bottom: 1px solid @color-border-gray;
}

.page-header__container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}


@media @tablet-widths {

  .page-header {
		height: 88px; /* минимальная высота содержания */
  }
}

@media @desktop-widths {
	.page-header__promo-text {
		right: 100px;
	}
}