.page-header {
	background-color: @color-white;
	min-height: 80px;
	border-bottom: 1px solid @color-border-gray;
}

.page-header__container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.page-header__promo-text {
	display: none;
	.text-size(15px; 24px);
}

@media @tablet-widths {

  .page-header {
		height: 88px; /* минимальная высота содержания */
  }
  
  .page-header__promo-text {
		display: block;
		position: absolute;
		top: 125px;
		right: 50px;
		color: @color-gray-black;
		z-index: 3;
	}
}


@media @desktop-widths {
	.page-header__promo-text {
		right: 100px;
	}
}

