.page-main {
	margin: 0px;
}

.page-main__title-block {
	height: 177px;
	width: 320px;
	box-sizing: border-box;
	&--bg {
		background-color: @color-light-gray;
	}
}

.page-main__title {
	.text-size(27px; 30px);
	text-align: center;
	vertical-align: middle;
	padding: 60px 0px;
	margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

.page-main__promo-text {
	display: none;
	.text-size(15px; 24px);
}

@media @tablet-widths { 
	.page-main__title-block {
		height: 220px;
		width: 768px;
		position: relative;
		
	}	
	.page-main__title {
		padding-top: 100px;
		.text-size-title();
	}
	
	.page-main__promo-text {
		display: block;
		position: absolute;
		top: 25px;
		right: 50px;
		color: @color-gray-black;
	}
}

@media @desktop-widths { 
	.page-main__title-block {
		height: 254px;
		width: 1250px;
	}	
	
	.page-main__promo-text {
		right: 100px;
	}
	
}