.page-footer {
	padding: 0px;
	margin: 0px;
	background-color: @color-light-gray;
	width: 100%;
}

.page-footer__wrapper {
	padding: 0 30px;
}

.page‐footer__social {
	padding: 30px 0px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}


.page‐footer__copyright‐text {
	display: flex;
	justify-content: center;
	align-items: center;
	.text-size(19px; 18px);
	font-weight: bold;
	margin: 0px;
	padding: 30px 0px;
	text-align: center;
	text-decoration: none;
	
	&:link, &:visited, &:hover  {
		color: @color-black;
	}
	
	& span {
		display: block;
	}
	
	& img {
		padding-left: 30px;
	}
}

.page‐footer__logo {
	display: none;
}

@media @tablet-widths {
	.page‐footer__wrapper {
		display: flex;
		justify-content: space-between;
		.container();
	}
	.page‐footer__social, .page‐footer__logo, .page‐footer__copyright‐text {
		width: 30%;
		display: flex;
		align-items: center;
	}
	
	.page‐footer__logo-img {
		padding: 30px 0px;
	}
	
	.page‐footer__social {
		justify-content: center;
	}
	
	.page‐footer__copyright‐text {
		justify-content: flex-end;
	}
}

@media @desktop-widths {
	
	.page-footer {
		clear: both;
	}
	
	.page‐footer__social {
		&:before {
			left: 100px;
		}
	}
}