.product-list {
	padding: 0px 30px;
}

.product-list__item-img {
	width: 100%;
	height: auto;
}

.product-list__item-title {
	padding: 0px;
	margin: 0px;
	padding-bottom: 8px;
	padding-top: 20px;
	.text-size(17px; 24px);
	.size-bold();
}

.product-list__item-descr {
	display: block;
	padding-top: 20px;
	.text-size(13px; 30px);
	padding-bottom: 30px;
}

.product-list__item-descr-block {
	padding: 0px 28px;
	&:hover {
		box-shadow: 0px 6px 11px 1px #ececec;
	}
	
	&:active {
		box-shadow: 0px 3px 7px 1px #ececec;
	}	
}

.product-list__item-descr-block > span {
	display: block;
	padding-bottom: 18px;
	.text-size(13px; 30px);
}

.product-list__item-price {
	border-top: 1px solid @color-border-gray;
	padding: 20px 0px 26px 4px;
	.size-bold();
	.text-size(15px; 24px);
}

.product-list__item {
	margin-top: 31px;
	border: 1px solid @color-border-gray;
	.clearfix();
}

.product-list__item-link {
	text-decoration: none;
	color: black;
	
	&:hover {
		opacity: 0.6;
	}
	
	&:active {
		opacity: 0.3;
	}
}
.product-list__item-value {
	
}

.product-list__order-btn {
	background: url("../img/icons/icon-cart.svg") no-repeat 0% 0%;
	float: right;
	width: 20px;
	height: 20px;
	content: "";
	border: none;
	cursor: pointer;
	
	&:hover {
		background: url("../img/icons/icon-cart-green.svg") no-repeat;
		opacity: 1;
	}
	
	&:active {
		background: url("../img/icons/icon-cart-green.svg") no-repeat;
		opacity: 0.6;
		border: none;
	}
}

@media @tablet-widths {
	.product-list {
		padding: 0px;
		padding-top: 85px;
		padding-bottom: 0px;
	}
	
	.product-list__item {
		padding-top: 0px;
		margin-top: 46px;
		display: flex;
		border: 1px solid @color-border-gray;
	}
	
	.product-list__item:first-child {
		margin-top: 0px;
	}
	.product-list__item-descr-block {
		flex-grow: 1;
		padding: 0px 25px;
		display: flex;
		flex-direction: column;
	}
	
	.product-list__item-title {
		.text-size(20px; 24px);
		padding-top: 25px;
	}
	
	.product-list__item-price {
		padding: 20px 9px 35px;
		.text-size(17px; 24px);
		margin-top: auto;
	}
	
	.product-list__item-img {
	    width: auto;
	  }
}
	
@media @desktop-widths {
	.product-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 130px;
		}
		
	.product-list__item {
		margin-top: 0px;
		margin-bottom: 30px;
		flex-direction: column;
		width: auto;
	}
	
	.product-list__item-title {
		padding-top: 17px;
		padding-top: 19px;
		padding-left: 3px;
		width: 235px;
	}
	
	.product-list__item-descr-block {
		padding: 0 25px;
	}
	
	.product-list__item-descr-block > span {
		padding-bottom: 18px;
	}
	
	.product-list__item-price {
		padding-bottom: 25px;
	}
}