.product-list {
	.container();
	padding-top: 30px; 
}

.product-list__item-title {
	padding: 0px;
	margin: 0px;
	padding-bottom: 20px;
	padding-top: 30px;
	.text-size(17px; 24px);
}

.product-list__item-descr {
	display: block;
	padding-top: 20px;
	.text-size(13px; 30px);
	padding-bottom: 30px;
}

.product-list__item-price {
	border-top: 1px solid @color-border-gray;
	padding: 30px 28px;
	margin-top: 28px;
}

.product-list__item {
	margin-top: 30px;
	border-bottom: 1px solid @color-border-gray;
	.clearfix();
}

.product-list__item-value {
	
}

.product-list__order-btn {
	background: url("img/icon-cart.svg") no-repeat 0% 0%;
	float: right;
	width: 20px;
	height: 20px;
	content: "";
	border: none;
}