.product-item {
	color: @color-gray-black;
	padding: 35px 30px;
	padding-top: 28px;
}

.product-item__title {
	padding: 0px;
	margin: 0px;
	.text-size-title();
	color: @color-black;
}

.product-item__titles {
	padding-bottom: 25px;
}
	
.product-item__descr-title {
	padding: 0px;
	margin: 0px;
	.text-size(17px; 20px);
	.size-bold();
	color: @color-blue;
	text-transform: uppercase;
}

.product-item__descr {
	padding: 0px;
	margin: 0px;
	padding-bottom: 19px;
	.text-size(15px; 24px);
}

.product-item-spec {
	padding: 0px;
	&:after {
		.clearfix();
	}
}

.product-item__block-descr {
	display: flex;
	flex-direction: column;
}

.product-item-spec__name {
	padding: 10px 0px 6px;
	display: inline-block;
	vertical-align: middle;
	width: 98px;
	float: left;
	border-bottom: 1px solid #ececec;
}

.product-item-spec__value {
	padding: 10px 0px 6px;
	display: inline-block;
	vertical-align: middle;
	width: 162px;
	float: left;
	border-bottom: 1px solid #ececec;
}

.product-item__img {
	padding-top: 28px;
	padding-bottom: 23px;
	text-align: center;
}

.product-item__price {
	display: block;
	text-align: center;
	padding: 0px;
	padding-bottom: 28px;
	.size-bold();
}

.product-item__order {
	color: @color-gray-black;
	.size-bold();
}

@media @tablet-widths {
	
	.product-item {
		padding-bottom: 50px;
		padding-top: 47px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.product-item__titles {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 50px;
	}
	
	.product-item__img {
		padding: 0px;
		float: right;
		padding-top: 5px;
	}
	
	.product-item__title {
		.text-size-title();
		padding: 0px;
	}
	
	.product-item__descr {
		padding-bottom: 34px;
		.text-size(17px; 30px);
	}
	
	.product-item__descr-title {
		padding: 0px;
		.text-size(17px; 17px);
		font-weight: bold;
		width: 100px;
		text-align: center;
		padding-right: 10px;
	}
	
	.product-item-spec {
		.text-size(15px; 20px);
	}
	
	.product-item-spec__name, .product-item-spec__value {
		padding: 10px 0px 10px;
	}
	
	.product-item__block-descr {
		width: 290px;
		float: left;
		padding-bottom: 50px;
	}

	.product-item__block-order {
		width: 290px;
		clear: left;
	}
	
	.product-item__price {
		padding-bottom: 35px;
		color: @color-gray-black;
		.text-size(20px; 24px);
		font-weight: bold;
	}
}

@media @desktop-widths {
	
	.product-item {
		padding-bottom: 0px;
		padding-top: 125px;
		margin: 0px;
	}
	
	.product-item__container {
		.clearfix();
		position: relative;
	}
	
	.product-item__img {
		width: 525px;
		position: relative;
	}
	
	.product-item__img img {
		position: absolute;
		top: -160px;
		right: 0px;
	}
			
	.product-item__titles {
		justify-content: flex-start;
		padding-bottom: 50px;
	}
		
	.product-item__title {
		z-index: 1;
	}
	
	.product-item__descr-title-wrap {
		order: -1;
		width: 175px;
		display: flex;
		justify-content: center;
	}
	
	.product-item__block-descr {
		width: 294px;
		padding-left: 175px;
		padding-bottom: 105px;
	}
	
	.product-item__descr {
		padding-bottom: 45px;
	}
	
	.product-item__block-order {
		order: 1;
		padding-left: 175px;
		width: 292px;
		height: 183px;
		clear: left;
	}
	
	.product-item-spec__name, .product-item-spec__value {
		padding: 10px 0px;
	}
}
