.reviews__wrapper {
	.container();
}

.reviews__title {
	.text-size(25px; 30px);
}	

.reviews__item {
	.text-size(15px; 30px);
	color: @color-gray-black;
	padding: 0px;
	margin: 0px;
}

.reviews__auhor‐name {
	.text-size(17px; 24px);
	font-style: normal;
	font-weight: bold;
}

.reviews__auhor‐email {
	.text-size(17px; 30px);
	color: @color-gray-black;
}

.reviews__prev, .reviews__next {
	padding: 0px;
	margin: 0px;
	width: 49%;
	height: 50px;
	background-color: @color-white;
	border: 1px solid @color-gray;
}