.reviews {
	width: 320px;
	margin: 0 auto;
	padding-bottom: 45px;
}

.reviews__wrapper {
	width: 260px;
    margin: 0 auto;
	padding-top: 55px;
}

.reviews__list {
	padding-top: 25px; 
}

.reviews__title {
	padding: 0px;
	margin: 0px;
	.text-size-title();
}	

.reviews__item {
	.text-size(15px; 30px);
	color: @color-gray-black;
	padding: 0px;
	margin: 0px;
}

.reviews__item-text {
	padding-bottom: 22px;
}
	
.reviews__auhor‐name {
	.text-size(17px; 24px);
	font-style: normal;
	padding-bottom: 15px;
	color: black;
	.size-bold();
}

.reviews__auhor‐email {
	.text-size(17px; 30px);
	color: @color-gray-black;
}

.reviews__slider-btn {
	display: flex;
	width: 100%;
}

.reviews__prev, .reviews__next {
	padding: 0px;
	margin: 0px;
	margin-top: 28px;
	margin-bottom: 40px;
	width: 50%;
	height: 51px;
	background-color: @color-white;
	border: 1px solid @color-gray;
	background: url("../img/icons/icon-left-arrow.svg") no-repeat 50% 50%;
	
	&:hover {
		opacity: 0.6;
	}
	
	&:active {
		opacity: 0.3;
	}
}

.reviews__next {
	border-left: none;
	background: url("../img/icons/icon-right-arrow.svg") no-repeat 50% 50%;
}

.reviews__write.btn {
	height: 50px;
}

@media @tablet-widths {
	.reviews {
		width: 768px;
		margin: 0 auto;
		background: url("../img/review@1x.jpg") no-repeat;
		padding-bottom: 0px;
		box-sizing: border-box;
	}
	
	@media
	  (min-resolution: 144dpi),
	  (min-resolution: 1.5dppx) {
	   .reviews {
	    background-image: url("../img/review@2x.jpg");
	    background-size: 350px auto;
	  }
	}
	
	.reviews__wrapper {
		width: auto;
		padding: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 77px;
	}
	
	.reviews__item-text {
		.text-size(17px; 30px);
		padding-bottom: 55px;
	}
	
	.reviews__auhor‐name {
		.text-size(18px; 24px);
		padding-bottom: 18px;
	}
	
	.reviews__auhor‐email {
		display: block;
	}
	
	.reviews__list {
		padding-top: 48px; 
	}

	.reviews__write {
		order: -1;
	}
	
	.reviews__write.btn {
		width: 26%;
	}
	
	.reviews__title {
		.text-size-title();
		order: -2;
	}
	
	.reviews__prev, .reviews__next {
		border: none;
		width: 50px;
		height: 25px;
		margin-left: 10px;
		margin-top: 58px;
	}
	
	.reviews__next {
		margin-left: 38px;
		}
		
	.reviews__slider-btn {
		text-align: center;
		position: relative;
		float: right;
		top: -100px;
		width: 25%;
	}
}

@media @desktop-widths {
	
	.reviews {
		width: 1150px;
		margin: 0 auto;
		background: none;
		padding-bottom: 40px;
	}

	.reviews__title {
		.text-size-title();
	} 
	
	.reviews__wrapper {
		width: 1050px;
		box-sizing: border-box;
		padding: 0px 175px;
		background: url("../img/review@1x.jpg") no-repeat;
		padding-top: 65px;
	}
	
	.reviews__auhor‐name {
		.text-size(17px; 24px);
	}
	
	.reviews__write.btn {
		position: relative;
		left: 175px;
		top: 10px;
		height: 51px;
		width: 175px;
	}
	
	.reviews__slider-btn {
		left: 118px;
	}
	
	.reviews__item-text {
		padding-bottom: 40px;
	}
	
	.reviews__item {
		width: 784px;
	}
}