.reviews__wrapper {
	.container();
	padding-top: 60px;
}

.reviews__list {
	padding-top: 40px; 
}

.reviews__title {
	.text-size(25px; 30px);
}	

.reviews__item {
	.text-size(15px; 30px);
	color: @color-gray-black;
	padding: 0px;
	margin: 0px;
}

.reviews__auhor‐name {
	.text-size(17px; 24px);
	font-style: normal;
	font-weight: bold;
}

.reviews__auhor‐email {
	.text-size(17px; 30px);
	color: @color-gray-black;
}

.reviews__prev, .reviews__next {
	padding: 0px;
	margin: 0px;
	margin-top: 35px;
	margin-bottom: 40px;
	width: 128px;
	height: 50px;
	background-color: @color-white;
	border: 1px solid @color-gray;
	background: url("img/icon-left-arrow.svg") no-repeat 50% 50%;

}

.reviews__next {
	margin-left: -4px;
	border-left: none;
	transform: rotate(180deg);
}