.social‐link {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 22px;
	height: 25px;
	text-align: center;
	padding-right: 30px;
	
	&:hover svg {
		fill: #46c1ae;
		opacity: 1;
	}

	&:active svg {
		fill: #46c1ae;
		opacity: 0.3;
	}
		
	&:visited {
		color: blue;
		text-decoration: none;
	}	
}