.top-block__wrapper{
	height: 284px;
	padding-top: 75px 30px 0px 30px;
	margin-top: 0px;
	text-align: center;

	&--bg {
		background: @color-gray url("/img/hero-mobile@1x.jpg") no-repeat 50% 20%;
	}
}

.top-block__title {
	font-size: 27px;
	line-height: 30px;
	padding: 0px;
	margin: 0px;
}

.top-block__list {
	margin: 0px;
    padding: 0px;
    list-style: none;
}

.top-block__item {

	&--bg1 {
		background: @color-blue;
	}
	&--bg2 {
		background: @color-darkblue;
	}

}

.top-block__item-interior, .top-block__item-toys {
		display: block;
		width: 30%;
		margin: 0px;
		padding: 30px 30px;
		text-decoration: none;
		font-size: 19px;
		line-height: 24px;	
		color: @color-white;
}